	<div class="category-item" v-repeat="category: categories">
		<h4>{{category.title}} <small>{{category.new_assessment}} %</small></h4>
		<input 	
			type="range" 
			min="-20" 
			max="20" 
			value="0"
			v-model="category.new_assessment" 
			v-on="blur: adjustAssessment(category)">
	</div>