<h3>{{ budget.title }}</h3>
<hr>

<div class="well">
	<div class="row">
		<div class="col-sm-6">
			<h3>Avg Property Value:
				<small v-text="budget.apv | currency"></small>
			</h3>
			<input type="hidden" v-model="taxesOwed">
			<h1>Taxes: <small>{{ taxesOwed | currency }}</small></h1>
		</div>
		<div class="col-sm-6 pull-right">
			<h3>%
				<small v-text="budget.apap"> </small>
			</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-7">
		<category taxes-owed="{{ budget }}" when-adjusted="{{ updateChart }}" ></category>

	</div>

	<div class="col-sm-5">
		<chart></chart>
	</div>
</div>